<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">

<plugin id="org.alchemy.create.speedShapes" version="1.0.5">
    
    <requires> 
        <import plugin-id="org.alchemy.core"/> 
    </requires> 
    
    <runtime>
        <library id="speedShapes" path="/" type="code">
            <export prefix="*" /> 
        </library>
        <library type="resources" path="data/" id="data" />
    </runtime>
    
    <extension plugin-id="org.alchemy.core" point-id="Create" id="speedShapesCreate"> 
        <parameter id="class" value="org.alchemy.create.SpeedShapes"/> 
        <parameter id="name" value="Speed Shapes"/> 
        <parameter id="description" value="Create shapes that alter based on the speed of cursor movement" />
        <parameter id="icon" value="icon.png" />
    </extension>
    
</plugin>