<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">

<plugin id="org.alchemy.create.detachShapes" version="1.0.4">
    
    <requires> 
        <import plugin-id="org.alchemy.core"/> 
    </requires> 
    
    <runtime>
        <library id="detachShapes" path="/" type="code">
            <export prefix="*" /> 
        </library>
        <library type="resources" path="data/" id="data" />
    </runtime>
    
    <extension plugin-id="org.alchemy.core" point-id="Create" id="detachShapesCreate"> 
        <parameter id="class" value="org.alchemy.create.DetachShapes"/> 
        <parameter id="name" value="Detach Shapes"/> 
        <parameter id="description" value="Shapes created detached from the pen" />
        <parameter id="icon" value="icon.png" />
    </extension>
    
</plugin>