<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">

<plugin id="alchemy.create.medianShapes" version="1.0.0">
    
    <requires> 
        <import plugin-id="alchemy.core"/> 
    </requires> 
    
    <runtime>
        <library id="medianShapes" path="/" type="code">
            <export prefix="*" /> 
        </library>
        <library type="resources" path="data/" id="data" />
    </runtime>
    
    <extension plugin-id="alchemy.core" point-id="Create" id="medianShapesCreate"> 
        <parameter id="class" value="alchemy.create.MedianShapes"/> 
        <parameter id="name" value="Median Shapes"/> 
        <parameter id="description" value="Create shapes that are repeated along the median" />
        <parameter id="icon" value="icon.png" />
    </extension>
    
</plugin>