<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">

<plugin id="alchemy.create.microphoneShapes" version="1.0.0">
    
    <requires> 
        <import plugin-id="alchemy.core"/> 
    </requires> 
    
    <runtime>
        <library id="microphoneShapes" path="/" type="code">
            <export prefix="*" /> 
        </library>
        <library type="resources" path="data/" id="data" />
    </runtime>
    
    <extension plugin-id="alchemy.core" point-id="Create" id="microphoneShapesCreate"> 
        <parameter id="class" value="alchemy.create.MicrophoneShapes"/> 
        <parameter id="name" value="Microphone Shapes"/> 
        <parameter id="description" value="Create shapes based on Microphone Input" />
        <parameter id="icon" value="icon.png" />
    </extension>
    
</plugin>