<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="alchemy.shapeGenerator" version="1.2.0">
    	<requires> 
        	<import plugin-id="alchemy.core"/> 
    	</requires> 

	<runtime>
        	<library id="shapeGenerator" path="/" type="code">
			<export prefix="*" /> 
                </library>
		<library type="resources" path="data/" id="data" />
    	</runtime>
	<extension plugin-id="alchemy.core" point-id="Module" id="shapeGeneratorModule"> 
        <parameter id="class" value="alchemy.ShapeGenerator"/> 
        <parameter id="name" value="Shape Generator"/> 
	<parameter id="description" value="Random Shapes" />
	<parameter id="icon" value="tab.gif" />
    </extension>
</plugin>