<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">

<plugin id="alchemy.create.traceShapes" version="1.0.0">
    
    <requires> 
        <import plugin-id="alchemy.core"/> 
    </requires> 
    
    <runtime>
        <library id="traceShapes" path="/" type="code">
            <export prefix="*" /> 
        </library>
        <library type="resources" path="data/" id="data" />
    </runtime>
    
    <extension plugin-id="alchemy.core" point-id="Create" id="traceShapesCreate"> 
        <parameter id="class" value="alchemy.create.TraceShapes"/> 
        <parameter id="name" value="Trace Shapes"/> 
        <parameter id="description" value="Trace over hidden images to create shapes" />
        <parameter id="icon" value="icon.gif" />
    </extension>
    
</plugin>