<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">

<plugin id="alchemy.create.imageShapes" version="1.0.2">
    
    <requires> 
        <import plugin-id="alchemy.core"/> 
    </requires> 
    
    <runtime>
        <library id="imageShapes" path="/" type="code">
            <export prefix="*" /> 
        </library>
        <library type="resources" path="data/" id="data" />
    </runtime>
    
    <extension plugin-id="alchemy.core" point-id="Create" id="imageShapesCreate"> 
        <parameter id="class" value="alchemy.create.ImageShapes"/> 
        <parameter id="name" value="Image Shapes"/> 
        <parameter id="description" value="Shapes created from images" />
        <parameter id="icon" value="tab.gif" />
    </extension>
    
</plugin>