<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="alchemy.core" version="1.0.0"
    class="alchemy.Core">
    <runtime> 
        <library id="core" path="/" type="code"> 
            <export prefix="*" /> 
        </library> 
    </runtime> 
    <extension-point id="Module"> 
        <parameter-def id="class"/> 
        <parameter-def id="name"/> 
    </extension-point>
</plugin>