<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="alchemy.test" version="1.0.0">
    	<requires> 
        	<import plugin-id="alchemy.core"/> 
    	</requires> 

	<runtime>
        	<library id="test" path="/" type="code">
			<export prefix="*" /> 
                </library>
		<library type="resources" path="data/" id="data" />
    	</runtime>
	<extension plugin-id="alchemy.core" point-id="Module" id="testModule"> 
        <parameter id="class" value="alchemy.Test"/> 
        <parameter id="name" value="Test"/> 
	<parameter id="description" value="Test Drawing App." />
	<parameter id="icon" value="b.gif" />
    </extension>
</plugin>