<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="alchemy.test2" version="1.0.0">
    	<requires> 
        	<import plugin-id="alchemy.core"/> 
    	</requires> 

	<runtime>
        	<library id="test2" path="/" type="code">
			<export prefix="*" /> 
		</library>
                <library type="resources" path="data/" id="data" />
    	</runtime>
	<extension plugin-id="alchemy.core" point-id="Module" id="test2Module"> 
        <parameter id="class" value="alchemy.Test2"/> 
        <parameter id="name" value="Test2"/> 
	<parameter id="description" value="Test2 Drawing App." />
	<parameter id="icon" value="tab.gif" />
    </extension>
</plugin>